doctype html
html(lang='pl')
  include ./partials/head
  body
    include ./partials/header
    main#muview
      section.section.dark-background(id='intro')
        canvas.canvas-background#dots
        .container
          .intro.intro--home
            h1.intro__heading Frontend Developer
            h2.intro__lead Piotr Sochacz
      section.section(id='about')
        .container
          .intro.intro--about
            h2.intro__heading O mnie
            p.intro__content
              | Pasjonuję się frontendem, jego nauka przychodzi mi łatwo i przyjemnie.
              <br>Staram się poznawać nowe technologię i stosować je podczas pisania kodu.
              <br>Chodze na meetupy, aby poznać różne ciekawe zagadnienia związane z programowaniem,
              <br>również aby poznać ciekawych ludzi i ich opinię na dany temat. 
            p.intro__content
              | Frontendu zacząłem się uczyć od końcówki października 2015 roku.
              <br>Lubie się dzielić poznanymi rzeczami z innymi, również aktywnie
              <br>udzielam się na grupach facebookowych związanych z programowaniem.
              <br>Wybrałem frontend ze względu na widoczne efekty pracy i poczucie estetyki.
      section.section(id='skills')
        .container
          .intro.intro--skills
            - const skills = require(`${dirname}/src/data/skills/skills.json`).skills;
            each skill in skills
              h2.intro__heading #{skill.skillsHeading}
              .skills
                - var groups = skill.skillsGroup;
                each group in groups
                  .skills__col.skills-set
                    h3.skills-set__heading #{group.skillsTech}
                    ul.skills-set__list.skills-list
                      - var techs = group.skillsDesc;
                      each tech in techs
                        li.skills-list__item
                          include ./mixins/tooltip
                          div.tooltip
                            button.tooltip__heading #{tech.techHeading}
                            p.tooltip__description
                              span.tooltip__lead #{tech.techHeading}
                              | !{tech.techDesc}
      section.section(id='contact')
        .container
          .intro.intro--contact
            h2.intro__heading Kontakt
            .intro__content
              ul
                li mail: <a href="mailto:pior.aueternum@gmail.com">piotr.aueternum@gmail.com</a>
                li telefon: <a href="tel:+48531243693">531 243 693</a> 

    include ./partials/footer
    include ./partials/foot