header.header
  nav.header__nav.nav
    button.nav__toggle
    ul.nav__list.nav-list.active
      - const icons = require(`${dirname}/src/data/header-svg/header-svg.json`).icons;
      each icon in icons
        - var anchor = icon.svg.anchor;
        li.nav-list__item
          a.nav-list__link(href=anchor.href, title=anchor.title)
            - var attr = icon.svg.attr;
            svg(
              x=attr.x || 0,
              y=attr.y || 0,
              height=attr.height || 0,
              width=attr.width || 0,
              viewBox=attr.viewBox || 0
            )
              mixin createGroup(data)
                - var path = data.path;
                if path && path.d
                  path(d!=path.d)

                if data.g
                  g
                    each g in data.g
                      if g.g
                        each gn in g.g
                          g
                            +createGroup(gn)
                            
                      - var path = g.path;
                      if path && path.d
                        path(d!=path.d)

                      - var circle = g.circle;
                      if circle && circle.cx && circle.cy && circle.r
                        circle(cx!=circle.cx, cy!=circle.cy, r!=circle.r)
              +createGroup(icon.svg)