header.header
  nav.header__nav.nav
    ul.nav__list.nav-list
      - const icons = require(__dirname + '/src/data/header-svg/header-svg.json').icons;
      - for(const icon of icons) {
        - const anchor = icon.svg.anchor;
        li.nav-list__item
          a.nav-list__link(href=anchor.href, title=anchor.title)
            - const attr = icon.svg.attr;
            svg(
              x=attr.x || 0,
              y=attr.y || 0,
              height=attr.height || 0,
              width=attr.width || 0,
              viewBox=attr.viewBox || 0
            )
              - function createGroup(data) {
                - console.log(data)
                - if(data.path && data.path.d) {
                  path(d!=data.path.d)
                - }
                - if(data.g) {
                  g
                    - for(const g of data.g) {
                      -if(g.g) {
                        - createGroup(g.g);
                      - }
                      -if(g.path && g.path.d) {
                        path(d!=g.path.d)
                      - }
                      -if(g.circle && g.circle.cx && g.circle.cy && g.circle.r) {
                        circle(cx!=g.circle.cx, cy!=g.circle.cy, r!=g.circle.r)
                      - }
                    - }
                - }
              - }
              - createGroup(icon.svg)
      - }
    button.nav__toggle