mixin tooltip(title, content, className, elementName)
	div(class=className)
		h4(class=className + '__heading')= title
		p(class=className + '__description')
			span(class=className + '__lead')= title
			| !{content}